/* Theme
-------------------------- */
@import "./theme";

/* Colors
-------------------------- */
$--color-success: $green;
$--color-warning: $orange;
$--color-danger: $red;

/* Fonts
-------------------------- */
$--font-path: '../node_modules/element-ui/packages/theme-chalk/src/fonts';

/* Button
-------------------------- */
$--button-font-size: 1rem;
$--button-font-weight: 400;
$--button-border-radius: 10px;
$--button-padding-vertical: 1rem;
$--button-padding-horizontal: 2rem;

$--button-info-color: $white;
$--button-info-fill: $greyD;
$--button-info-border: $greyD;

/* Input
-------------------------- */
$--input-focus-border: $grey;

/* Option
-------------------------- */
$--select-option-hover-background: $greyVVL;
$--select-option-selected: $greyD;

/* Select
-------------------------- */
$--select-input-focus-background: $grey;

/* Imports
-------------------------- */
@import "~element-ui/packages/theme-chalk/src/button";
@import "~element-ui/packages/theme-chalk/src/col";
@import "~element-ui/packages/theme-chalk/src/date-picker";
@import "~element-ui/packages/theme-chalk/src/form";
@import "~element-ui/packages/theme-chalk/src/form-item";
@import "~element-ui/packages/theme-chalk/src/icon";
@import "~element-ui/packages/theme-chalk/src/input";
@import "~element-ui/packages/theme-chalk/src/input-number";
@import "~element-ui/packages/theme-chalk/src/message";
@import "~element-ui/packages/theme-chalk/src/option";
@import "~element-ui/packages/theme-chalk/src/radio";
@import "~element-ui/packages/theme-chalk/src/radio-group";
@import "~element-ui/packages/theme-chalk/src/rate";
@import "~element-ui/packages/theme-chalk/src/row";
@import "~element-ui/packages/theme-chalk/src/select";
@import "~element-ui/packages/theme-chalk/src/step";
@import "~element-ui/packages/theme-chalk/src/steps";
@import "~element-ui/packages/theme-chalk/src/switch";
