include ../node_modules/nuxt-fela/dist/nuxt-fela

mixin button(style, props)
  +styled('button', style, props)&attributes(attributes)
    block

mixin customer-feedback(style, props)
  +styled('customer-feedback', style, props)&attributes(attributes)

mixin customer-receipt(style, props)
  +styled('customer-receipt', style, props)&attributes(attributes)

mixin customer-shipping(style, props)
  +styled('customer-shipping', style, props)&attributes(attributes)

mixin contact-info(style, props)
  +styled('contact-info', style, props)&attributes(attributes)
    block

mixin el-button(style, props)
  +styled('el-button', style, props)&attributes(attributes)
    block

mixin el-col(style, props)
  +styled('el-col', style, props)&attributes(attributes)
    block

mixin el-form(style, props)
  +styled('el-form', style, props)&attributes(attributes)
    block

mixin el-form-item(style, props)
  +styled('el-form-item', style, props)&attributes(attributes)
    block

mixin el-input(style, props)
  +styled('el-input', style, props)&attributes(attributes)
    block

mixin el-input-number(style, props)
  +styled('el-input-number', style, props)&attributes(attributes)
    block

mixin el-row(style, props)
  +styled('el-row', style, props)&attributes(attributes)
    block

mixin el-select(style, props)
  +styled('el-select', style, props)&attributes(attributes)
    block

mixin el-step(style, props)
  +styled('el-step', style, props)&attributes(attributes)

mixin el-steps(style, props)
  +styled('el-steps', style, props)&attributes(attributes)
    block

mixin fa-icon(style, props)
  +styled('fa-icon', style, props)&attributes(attributes)

mixin faq-question(style, props)
  +styled('faq-question', style, props)&attributes(attributes)

mixin gmap-map(style, props)
  +styled('gmap-map', style, props)&attributes(attributes)
    block

mixin home-product(style, props)
  +styled('home-product', style, props)&attributes(attributes)
    block

mixin home-product-content(style, props)
  +styled('home-product-content', style, props)&attributes(attributes)

mixin home-product-gallery(style, props)
  +styled('home-product-gallery', style, props)&attributes(attributes)

mixin home-product-pricing(style, props)
  +styled('home-product-pricing', style, props)&attributes(attributes)

mixin nuxt(style, props)
  +styled('nuxt', style, props)&attributes(attributes)

mixin testimonies-item(style, props)
  +styled('testimonies-item', style, props)&attributes(attributes)

mixin the-contactbar(style, props)
  +styled('the-contactbar', style, props)&attributes(attributes)

mixin the-navbar(style, props)
  +styled('the-navbar', style, props)&attributes(attributes)

mixin v-container(style, props)
  +styled('v-container', style, props)&attributes(attributes)
    block

mixin v-section(style, props)
  +styled('v-section', style, props)&attributes(attributes)
    block