/* Breakpoints
-------------------------- */
$xs: 544px;
$sm: 768px;
$md: 992px;
$lg: 1280px;
$xl: 1488px;
$xxl: 2512px;

/* Colors
-------------------------- */
$black: #000;
$black50: rgba(0, 0, 0, .5);

$greyVVD: #222;
$greyVD: #333;
$greyD: #555;
$grey: #777;
$greyL: #999;
$greyVL: #bbb;
$greyVVL: #e7e6e9;

$white: #fff;

$blueVD: #01649d;
$blueD: #027dc6;
$blue: #03acee;
$blueVVL: #d1e2db;

$greenVD: #247b32;
$greenD: #2fa343;
$green: #62b848;

$orangeD: #db7d0a;
$orange: #f59523;

$redVD: #8a0f13;
$redD: #c4161c;
$red: #ec1b26;